@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span {
	font-family: 'Shantell Sans', 'Roboto';
	@apply text-slate-50;
}

html {
	@apply bg-slate-800;
}

body {
	@apply flex justify-center items-center h-screen w-full px-5;
}

button {
	@apply flex px-3 py-2 rounded-sm bg-blue-400 text-sm font-semibold text-white hover:bg-blue-600;
}
